<div class="login-form">
  <div class="form">
    <div class="logo">

        <img id="logo"
             alt="vital Logo"
             src="assets/vital.jpg"
        />

    </div>

    <div class="">
      <h5>Vital-IoT Sign In </h5>
      <br>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input [(ngModel)]="user" [formControl]="username" matInput required>
        <mat-icon matSuffix>person</mat-icon>
        <mat-error *ngIf="username.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input [(ngModel)]="pass" [formControl]="password" matInput required type="password">
        <mat-icon matSuffix>lock</mat-icon>
        <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <button (click)="login()" color="primary" mat-raised-button>Login</button>
      <button (click)="openDialog()" color="accent" mat-raised-button>Registrati</button>
    </div>
  </div>
</div>
